<div class="component-container">
    <h3>{{component.title}}</h3>
    <p>Creator: {{component.creator}}</p>
    <p>Type: {{component.type}}</p>
    {{#if isImageShowing}}
        <p><img src={{component.image}} alt={{component.type}} class="col-xs-12"></p>
        <button {{action "imageHide"}} type="button" class="btn btn-secondary">Hide image</button>
    {{else}}
        <button {{action "imageShow"}} type="button" class="btn btn-secondary">Show image</button>
    {{/if}}

    {{#if (eq component.title 'Ember Guage Component')}}
        <div class="gauge-container">
            <div class="form">
                <div class="ui input">
                    <label>value</label>
                  {{input type="text" value=something1}}
                </div>

                <div class="ui input">
                    <label>maxValue</label>
                  {{input type="text" value=something2}}
                </div>
            </div>
          {{value-gauge value=something1 maxValue=something2}}
        </div>
    {{else if (eq component.title 'Progress Bar')}}
      {{progress-bar value='50' maxValue='100'}}
    {{else if (eq component.title 'Accordion')}}
      {{accordion-block}}
    {{/if}}
</div>
